
* {
  font-family: 'Sorts Mill Goudy', serif;
}

#userName {
  font-size: large;
  font-weight: 900;
}

#light {
  font-size: small;
  color: #767676;
  font-weight: lighter;
}

div #messages {
  font-weight: lighter;
  width: 300px;
  padding: 20px;
  margin: 3px;
  background-color:rgba(244,244,201,0.5);
}

div #button {
  height: 70px;
  width: 300px;
  padding: 20px;
  margin: 3px;
  background-color:rgba(255,0,0,0.5);
}

#userTweet {
  width: 300px;
  padding: 20px;
  margin: auto;
  background-color:rgba(145,181,45,0.5);
}


/** {
   border: 1px solid red !important;
}**/